<div style="height: 250px; margin-bottom: 20px">

  <div class="container">


    <div class="row">
      <div class="col-5">
        <img src="{{node.image}}" alt="..." class="img-thumbnail"
             style="height:220px; width: 100%; object-fit: cover">
      </div>
      <div class="col-7">
        <div class="container">


          <div class="row">
            <div class="col-3" style="padding: 5px;" *ngFor="let img of displayedImages">
              <img (click)="node.image = img; imageUrl.value='';" src="{{img}}" style="height: 100px; width: 100px; object-fit: cover;">
            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-5">

      </div>

      <div class="col-2">
        <button mat-icon-button (click)="selectPage(-1);">
          <mat-icon>
            chevron_left
          </mat-icon>
        </button>

      </div>
      <div class="col-3">
        <input class="form-control form-control-sm" type="text" #imageUrl placeholder="Eigenes Bild..." (input)="node.image = imageUrl.value; node.images.push(imageUrl.value)">
      </div>


      <div class="col-2">
        <button mat-icon-button class="float-right" (click)="selectPage(1);">
          <mat-icon>
            chevron_right
          </mat-icon>
        </button>

      </div>


    </div>


  </div>
</div>



