<div class="container">

  <div class="row">
    <div class="col-12">
      <div id="navbar">
        <button mat-raised-button color="warn" (click)="openDeleteDialog(recipe)">Rezept löschen</button>

          <button class="float-right" mat-raised-button color="primary" (click)="saveAndExit()">Übernehmen</button>



      </div>


    </div>
  </div>


  <div class="row">
    <div class="col-lg-9">

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Titel" matInput [(ngModel)]="recipe.title"
               style="font-size: 20pt; margin-bottom: 10px">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <app-image-list [node]="recipe" [images]="recipe.images"></app-image-list>
      <div style="height: 500px">
        <div style="height: 450px">
          <quill-editor [modules]="modules" [(ngModel)]="recipe.text"></quill-editor>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <app-ingredients [recipe]="recipe"></app-ingredients>
    </div>
  </div>
</div>

<div *ngIf="recipe">

</div>




