<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/icons/chef.svg" width="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kochbuch
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="javascript:void(0);" (click)="recipesService.downloadBook()"><mat-icon style="vertical-align: middle">get_app</mat-icon> Herunterladen</a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="openUploadModal(uploadModal)"><mat-icon style="vertical-align: middle">folder_open</mat-icon> Öffnen</a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="recipesService.delete()"><mat-icon style="vertical-align: middle">delete</mat-icon> Löschen</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0);" (click)="render()"><mat-icon style="vertical-align: middle">print</mat-icon> Kochbuch erstellen</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div class="container" style="background-color: rgba(255,255,255, 0.8);;">


  <div class="row" style="padding-top: 20px; padding-bottom: 20px">
    <div class="col-8">


      <div class="recipes-list-wrapper">
        <div class="tree">
          <ul style="border: none">
            <li>Mein Kochbuch
              <button matTooltip="Ein neues Unterkapitel erstellen" mat-icon-button (click)="openAddChapterDialog('000')">
                <mat-icon>
                  book
                </mat-icon>
              </button>
            </li>
            <li>
              <ul>
                <ng-container
                  *ngTemplateOutlet="recursiveListTmpl; context:{ recipes: recipesService.recipes.children }"></ng-container>
              </ul>
            </li>

          </ul>


          <ng-template #recursiveListTmpl let-list="recipes">
            <li *ngFor="let node of list">
              <!--
              is recipe or chapter?
              -->
              <ng-container *ngIf="isRecipe(node); else isChapter">
                <!--              <a (click)="selectRecipe(node)">{{node.title}}</a>-->
                <div >
                  <a class="recipe-title" routerLink="/detail/{{node.id}}"
                     (mouseover)="recipe=recipesService.getRecipeById(node.id)">{{node.title}}</a>
                </div>

              </ng-container>
              <ng-template #isChapter>


                <a  routerLink="/chapter/{{node.id}}">{{node.title}}</a>


                <ng-container *ngIf="isBottomChapter(node) || node.children.length === 0">
                    <button mat-icon-button matTooltip="Ein neues Rezept hinzufügen" (click)="openAddRecipeDialog(node.id)">
                      <mat-icon>
                        note_add
                      </mat-icon>
                    </button>
                  </ng-container>

                  <ng-container *ngIf="!isBottomChapter(node)">
                    <button mat-icon-button matTooltip="Ein neues Unterkapitel erstellen" (click)="openAddChapterDialog(node.id)">
                      <mat-icon>
                        book
                      </mat-icon>
                    </button>

                  </ng-container>





                <ul *ngIf="hasChild(node)">
                  <ng-container
                    *ngTemplateOutlet="recursiveListTmpl; context:{ recipes: node.children }"></ng-container>
                </ul>


              </ng-template>


            </li>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div *ngIf="loading" class="right-column">
        <h2>Erstelle Buch...</h2>
        <mat-spinner style="margin-left: auto; margin-right: auto"></mat-spinner>
        <p>
          Erstelle dein Buch. Das kann einige Minuten dauern...
        </p>

      </div>
      <div class="sticky-top right-column" *ngIf="recipe && !loading">
        <app-recipe-preview  [recipe]="recipe"></app-recipe-preview>
      </div>
      <div *ngIf="!loading && !recipe">

        <h3>Erstelle dein Kochbuch!</h3>
        <br>
        <p>Um dein Kochbuch zu erstellen und hinterher zu einem Fotobuch drucken lassen zu können, kannst du <mat-icon style="vertical-align: middle">book</mat-icon>Kapitel erstellen
          und <mat-icon style="vertical-align: middle">note_add</mat-icon>Rezepte zu diesen hinzufügen.</p>
        <p>Wenn du auf einen Kapitelnamen klickst, kannst du das Kapitel bearbeiten oder löschen.</p>
        <p>Um eine Vorschau von einem Rezept zu sehen, gehe mit der Maus über den Namen des Rezepts. Um das Rezept zu bearbeiten oder zu löschen, klicke auf den Namen des Rezepts.</p>
        <p>Wenn du alle deine Rezepte hinzugefügt hast, gehe oben auf "Kochbuch" - "Kochbuch erstellen". Je nach dem wie viele Rezepte du gesammelt hast, kann dies einige Minuten dauern.
          <br>Wenn dein Buch fertig ist, öffnet sich ein Popup mit einem Link zu deinem Buch. Entweder klicke darauf um es direkt zu öffnen, oder klicke mit der rechten Maustaste darauf und dann auf "Ziel speichern unter..." um es zu speichern.</p>
        <p></p>
      </div>
    </div>

  </div>
</div>

<ng-template #uploadModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Kochbuch öffnen</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="fileInput">Klicke auf "Durchsuchen..." um eine Kochbuchdatei auszuwählen.</label>
        <input type="file" class="form-control-file" id="fileInput" (change)="upload($event.target.files)">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fertig</button>
  </div>
</ng-template>

<!--<ng-template #newChapterModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Neues Kapitel unter "{{chapter.title}}" erstellen</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="newChapterTitle">Neues Kapitel</label>
        <div class="input-group">
          <input class="form-control" id="newChapterTitle" type="text" placeholder="Titel des neuen Kapitels"
                 name="newChapterName" [(ngModel)]="newChapterTitle" style="margin-bottom: 10px">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('s')">Save</button>
  </div>
</ng-template>

<ng-template #newRecipeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="nr-title">Neues Rezept unter "{{chapter.title}}" hinzufügen</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="newChapterTitle">Neues Rezept</label>
        <div class="input-group">
          <textarea class="form-control" id="newRecipeUrl" type="text" placeholder="https://www.example.com"
                    name="newRecipeUrl" [(ngModel)]="newRecipeUrl" style="margin-bottom: 10px"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('s')">Save</button>
  </div>
</ng-template>-->


